<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.FreeEnglishTrain.speak">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="org.FreeEnglishTrain.utils.Globals"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        tools:targetApi="s">
        <activity
            android:name=".Congratulations"
            android:exported="true" />
        <activity
            android:name=".Treino"
            android:exported="true" />
        <activity
            android:name=".Configuracao"
            android:exported="true" />

        <activity
            android:name=".SelecionarTema"
            android:exported="true" />
        <activity
            android:name=".Inicial"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>